@mixin fface($path, $family, $type, $weight: 400, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$path}#{$type}.otf');
    font-weight: $weight;
    font-style: $style;
  }
}